$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$white: #fff;
$black: #000;
$primary: #f9423a;
$card-bg-1: #90fdca;
$card-bg-2: #93d9f5;
$card-bg-3:#f7d088;

$grid-breakpts: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;
